#**What is Pandas?**

Pandas is a Python library used for working with large amounts of data in a variety of formats such as CSV files, TSV files, Excel sheets, and so on. It has functions for analyzing, cleaning, exploring, and modifying data.

In [1]:
#Pandas installation
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

###**Data Structures In Pandas**

**Data Frame :**
Whenever there is a dataset with at least two columns and any number of records(rows) then it is known as a Data frame.

**Series :**
Whenever there is a dataset with just a single column with any number of records (rows) then it is known as a Series.

In [2]:
#Importing library
import pandas as pd

In [3]:
#Importing Data

#1. read_csv()
df = pd.read_csv('/content/drive/MyDrive/Data Science Project /Chocolate dataset/Chocolate bar ratings 2022.csv')


"""
1.head()---shows by default initial 5 records
2.tail()---shows by default final 5 records
3.shape()---provides #of rows and #of columns
4.info()---provides information about row & columns
5.describe()---provide statistical summary
6.nunique()---returns the number of unique entries in each column
"""

'\n1.head()---shows by default initial 5 records\n2.tail()---shows by default final 5 records\n3.shape()---provides #of rows and #of columns\n4.info()---provides information about row & columns\n5.describe()---provide statistical summary\n6.nunique()---returns the number of unique entries in each column\n'

In [4]:
df.head(3)

,REF,Company (Manufacturer),Company Location,Review Date,Country of Bean Origin,Specific Bean Origin or Bar Name,Cocoa Percent,Ingredients,Most Memorable Characteristics,Rating
0,2454,5150,U.S.A.,2019,Tanzania,"Kokoa Kamili, batch 1",76%,"3- B,S,C","rich cocoa, fatty, bready",3.25
1,2454,5150,U.S.A.,2019,Madagascar,"Bejofo Estate, batch 1",76%,"3- B,S,C","cocoa, blackberry, full body",3.75
2,2458,5150,U.S.A.,2019,Dominican Republic,"Zorzal, batch 1",76%,"3- B,S,C","cocoa, vegetal, savory",3.50

In [5]:
#Selection Of Data

#1. df[col] ---returns the column with the specified label as series.
#selecting the column 'Company Location' 
df['Company Location']

0        U.S.A.
1        U.S.A.
2        U.S.A.
3        U.S.A.
4        U.S.A.
         ...
2583    Austria
2584    Austria
2585    Austria
2586    Austria
2587    Austria
Name: Company Location, Length: 2588, dtype: object

In [6]:
#2. df[[col1,col2]] ---returns columns as a data frame
df[['Company (Manufacturer)','Cocoa Percent']]

     Company (Manufacturer) Cocoa Percent
0                      5150           76%
1                      5150           76%
2                      5150           76%
3                      5150           68%
4                      5150           68%
...                     ...           ...
2583                 Zotter           80%
2584                 Zotter           75%
2585                 Zotter           75%
2586                 Zotter           70%
2587                 Zotter           72%

[2588 rows x 2 columns]

In [7]:
#3. loc[ ] ---helps you access a group of rows and columns (label-based)

# selecting all the rows from 0-4 and the associated columns
df.loc[ :7]

,REF,Company (Manufacturer),Company Location,Review Date,Country of Bean Origin,Specific Bean Origin or Bar Name,Cocoa Percent,Ingredients,Most Memorable Characteristics,Rating
0,2454,5150,U.S.A.,2019,Tanzania,"Kokoa Kamili, batch 1",76%,"3- B,S,C","rich cocoa, fatty, bready",3.25
1,2454,5150,U.S.A.,2019,Madagascar,"Bejofo Estate, batch 1",76%,"3- B,S,C","cocoa, blackberry, full body",3.75
2,2458,5150,U.S.A.,2019,Dominican Republic,"Zorzal, batch 1",76%,"3- B,S,C","cocoa, vegetal, savory",3.50
3,2542,5150,U.S.A.,2021,Fiji,"Matasawalevu, batch 1",68%,"3- B,S,C","chewy, off, rubbery",3.00
4,2542,5150,U.S.A.,2021,India,"Anamalai, batch 1",68%,"3- B,S,C","milk brownie, macadamia,chewy",3.50
5,2546,5150,U.S.A.,2021,Venezuela,"Sur del Lago, batch 1",72%,"3- B,S,C","fatty, earthy, moss, nutty,chalky",3.00
6,2546,5150,U.S.A.,2021,Uganda,"Semuliki Forest, batch 1",80%,"3- B,S,C","mildly bitter, basic cocoa, fatty",3.25
7,797,A. Morin,France,2012,Bolivia,Bolivia,70%,"4- B,S,C,L","vegetal, nutty",3.50

In [8]:
# selecting all the rows and the column named 'Country of Bean Origin'
df.loc[: , 'Country of Bean Origin']

0                 Tanzania
1               Madagascar
2       Dominican Republic
3                     Fiji
4                    India
               ...
2583                 Blend
2584              Colombia
2585                 Blend
2586                 Congo
2587                Belize
Name: Country of Bean Origin, Length: 2588, dtype: object

In [9]:
# selecting all the rows from 1-5 and the columns named 'Most Memorable Characteristics' and 'Rating'
df.loc[1:5, ['Most Memorable Characteristics', 'Rating'] ]

      Most Memorable Characteristics  Rating
1       cocoa, blackberry, full body    3.75
2             cocoa, vegetal, savory    3.50
3                chewy, off, rubbery    3.00
4      milk brownie, macadamia,chewy    3.50
5  fatty, earthy, moss, nutty,chalky    3.00

In [10]:
# selecting all the rows and columns with entries having rating > 3.5 
df.loc[df['Rating'] > 3.5]

,REF,Company (Manufacturer),Company Location,Review Date,Country of Bean Origin,Specific Bean Origin or Bar Name,Cocoa Percent,Ingredients,Most Memorable Characteristics,Rating
1,2454,5150,U.S.A.,2019,Madagascar,"Bejofo Estate, batch 1",76%,"3- B,S,C","cocoa, blackberry, full body",3.75
8,797,A. Morin,France,2012,Peru,Peru,63%,"4- B,S,C,L","fruity, melon, roasty",3.75
12,1011,A. Morin,France,2013,Ecuador,Equateur,70%,"4- B,S,C,L","sandy, nutty, cocoa, fig",3.75
16,1015,A. Morin,France,2013,Venezuela,Chuao,70%,"4- B,S,C,L","oily, nut, caramel, raspberry",4.00
19,1019,A. Morin,France,2013,Peru,Chanchamayo Province,63%,"3- B,S,C","sweet, cocoa, tangerine",4.00
...,...,...,...,...,...,...,...,...,...,...
2564,2048,Zoto (Chocolatoa),Belgium,2018,Nicaragua,"El Castillero, batch ca1705, 3 turns",70%,"3- B,S,C","large grits, sweet, dried fruit",3.75
2568,647,Zotter,Austria,2011,Peru,Peru,70%,"4- B,S*,C,Sa","creamy, fatty, mild nutty",3.75
2576,875,Zotter,Austria,2012,Dominican Republic,"Loma Los Pinos, Yacao region, D.R.",62%,"4- B,S*,C,Sa","spice, caramel, toffee, salty",3.75
2580,879,Zotter,Austria,2012,Dominican Republic,Santo Domingo,70%,"4- B,S*,C,Sa","strawberry, Cadbury egg",3.75
2584,1996,Zotter,Austria,2017,Colombia,"APROCAFA, Acandi",75%,"3- B,S,C","strong nutty, marshmallow",3.75

In [11]:
#4. iloc[ ] ---helps you access a group of rows and columns (integer position-based)

# selecting all the rows from 0-4 and the associated columns
df.iloc[0:4] #excluded end

,REF,Company (Manufacturer),Company Location,Review Date,Country of Bean Origin,Specific Bean Origin or Bar Name,Cocoa Percent,Ingredients,Most Memorable Characteristics,Rating
0,2454,5150,U.S.A.,2019,Tanzania,"Kokoa Kamili, batch 1",76%,"3- B,S,C","rich cocoa, fatty, bready",3.25
1,2454,5150,U.S.A.,2019,Madagascar,"Bejofo Estate, batch 1",76%,"3- B,S,C","cocoa, blackberry, full body",3.75
2,2458,5150,U.S.A.,2019,Dominican Republic,"Zorzal, batch 1",76%,"3- B,S,C","cocoa, vegetal, savory",3.50
3,2542,5150,U.S.A.,2021,Fiji,"Matasawalevu, batch 1",68%,"3- B,S,C","chewy, off, rubbery",3.00

In [12]:
# selecting all the rows and columns
df.iloc[: , :]

,REF,Company (Manufacturer),Company Location,Review Date,Country of Bean Origin,Specific Bean Origin or Bar Name,Cocoa Percent,Ingredients,Most Memorable Characteristics,Rating
0,2454,5150,U.S.A.,2019,Tanzania,"Kokoa Kamili, batch 1",76%,"3- B,S,C","rich cocoa, fatty, bready",3.25
1,2454,5150,U.S.A.,2019,Madagascar,"Bejofo Estate, batch 1",76%,"3- B,S,C","cocoa, blackberry, full body",3.75
2,2458,5150,U.S.A.,2019,Dominican Republic,"Zorzal, batch 1",76%,"3- B,S,C","cocoa, vegetal, savory",3.50
3,2542,5150,U.S.A.,2021,Fiji,"Matasawalevu, batch 1",68%,"3- B,S,C","chewy, off, rubbery",3.00
4,2542,5150,U.S.A.,2021,India,"Anamalai, batch 1",68%,"3- B,S,C","milk brownie, macadamia,chewy",3.50
...,...,...,...,...,...,...,...,...,...,...
2583,1205,Zotter,Austria,2014,Blend,Raw,80%,"4- B,S*,C,Sa","waxy, cloying, vegetal",2.75
2584,1996,Zotter,Austria,2017,Colombia,"APROCAFA, Acandi",75%,"3- B,S,C","strong nutty, marshmallow",3.75
2585,2036,Zotter,Austria,2018,Blend,"Dry Aged, 30 yr Anniversary bar",75%,"3- B,S,C","fatty, earthy, cocoa",3.00
2586,2170,Zotter,Austria,2018,Congo,Mountains of the Moon,70%,"3- B,S,C","fatty, mild nuts, mild fruit",3.25
2587,2170,Zotter,Austria,2018,Belize,Maya Mtn,72%,"3- B,S,C","muted, roasty, accessible",3.50

In [13]:
# selecting all the rows and columns from 0-4(excluded)
df.iloc[0:4, 0:4]

    REF Company (Manufacturer) Company Location  Review Date
0  2454                   5150           U.S.A.         2019
1  2454                   5150           U.S.A.         2019
2  2458                   5150           U.S.A.         2019
3  2542                   5150           U.S.A.         2021

In [14]:
# selecting all the rows from 0-10(excluded) and the 0th, 2nd, and 5th columns
df.iloc[ 0:10, [0, 2, 5] ]

    REF Company Location Specific Bean Origin or Bar Name
0  2454           U.S.A.            Kokoa Kamili, batch 1
1  2454           U.S.A.           Bejofo Estate, batch 1
2  2458           U.S.A.                  Zorzal, batch 1
3  2542           U.S.A.            Matasawalevu, batch 1
4  2542           U.S.A.                Anamalai, batch 1
5  2546           U.S.A.            Sur del Lago, batch 1
6  2546           U.S.A.         Semuliki Forest, batch 1
7   797           France                          Bolivia
8   797           France                             Peru
9  1011           France                           Panama

In [15]:
# selecting the 3rd, 4th, and 5th rows and the 0th and 2nd columns
df.iloc[[3, 4, 5], [0, 2]]

    REF Company Location
3  2542           U.S.A.
4  2542           U.S.A.
5  2546           U.S.A.

In [16]:
#Filter, Sort & Groupby

#1. df[df[col] operator  number] ---helps you easily filter out data
# selecting all the records where column 'Review Date' > 2019
df[df['Review Date'] > 2019]

,REF,Company (Manufacturer),Company Location,Review Date,Country of Bean Origin,Specific Bean Origin or Bar Name,Cocoa Percent,Ingredients,Most Memorable Characteristics,Rating
3,2542,5150,U.S.A.,2021,Fiji,"Matasawalevu, batch 1",68%,"3- B,S,C","chewy, off, rubbery",3.00
4,2542,5150,U.S.A.,2021,India,"Anamalai, batch 1",68%,"3- B,S,C","milk brownie, macadamia,chewy",3.50
5,2546,5150,U.S.A.,2021,Venezuela,"Sur del Lago, batch 1",72%,"3- B,S,C","fatty, earthy, moss, nutty,chalky",3.00
6,2546,5150,U.S.A.,2021,Uganda,"Semuliki Forest, batch 1",80%,"3- B,S,C","mildly bitter, basic cocoa, fatty",3.25
32,2648,A. Morin,France,2021,Mexico,La Joya,70%,"4- B,S,C,L","light color, fruit, yogurt",4.00
...,...,...,...,...,...,...,...,...,...,...
2539,2522,Xocolatl,U.S.A.,2020,Nicaragua,"Matagalpa, batch 57",72%,"2- B,S","sandy, roasty, fig, late spiciness",3.50
2542,2618,Zac Squared,U.S.A.,2021,Trinidad,Rio Claro,70%,"3- B,S,C","nutty, fruity, sweet",3.25
2543,2618,Zac Squared,U.S.A.,2021,Vietnam,Ben Tre,70%,"3- B,S,C","tart, cherry, cocoa, mild sour",3.50
2544,2618,Zac Squared,U.S.A.,2021,Dominican Republic,Zorzal,70%,"3- B,S,C","sweet, rich, cocoa, fruity",3.50
2545,2700,Zacharias,U.S.A.,2021,Bolivia,"Tranquilidad, wild Bolivia",70%,"3- B,S,C","sweet, tart, sour",3.00

In [17]:
# filtering out with multiple conditions.

# selecting all the records where 'Review Date' > 2019 and 'REF' = 2546
df[(df['Review Date'] > 2019) & (df['REF'] == 2546)]

,REF,Company (Manufacturer),Company Location,Review Date,Country of Bean Origin,Specific Bean Origin or Bar Name,Cocoa Percent,Ingredients,Most Memorable Characteristics,Rating
5,2546,5150,U.S.A.,2021,Venezuela,"Sur del Lago, batch 1",72%,"3- B,S,C","fatty, earthy, moss, nutty,chalky",3.00
6,2546,5150,U.S.A.,2021,Uganda,"Semuliki Forest, batch 1",80%,"3- B,S,C","mildly bitter, basic cocoa, fatty",3.25
693,2546,Dandelion,U.S.A.,2021,Tanzania,"Kokoa Kamili, 2017 h., batch 2",70%,"2- B,S","dairy, honey, cocoa",3.50
694,2546,Dandelion,U.S.A.,2021,Brazil,"Vale Potumuju, 2019 h., batch 1",70%,"2- B,S",distinct choco and graham,4.00

In [18]:
#2. sort_values() --- helps in sorting your data in ascending or descending manner

# sorting the values of the column 'REF' in ascending manner(default)
df.sort_values('REF')

,REF,Company (Manufacturer),Company Location,Review Date,Country of Bean Origin,Specific Bean Origin or Bar Name,Cocoa Percent,Ingredients,Most Memorable Characteristics,Rating
1269,5,Jacque Torres,U.S.A.,2006,Ghana,Trinatario Treasure,71%,"5- B,S,C,V,L","gritty, unrefined, off notes",2.00
1716,15,Neuhaus (Callebaut),Belgium,2006,Blend,West Africa,73%,"5- B,S,C,V,L","non descript, poor aftertaste",2.00
1114,15,Guittard,U.S.A.,2006,Colombia,Chucuri,65%,"5- B,S,C,V,L","creamy, sweet, floral, vanilla",3.00
1717,15,Neuhaus (Callebaut),Belgium,2006,Sao Tome,Sao Tome,75%,"5- B,S,C,V,L","grassy, earthy, burnt",2.75
2083,15,Scharffen Berger,U.S.A.,2006,Blend,Extra Dark,82%,"5- B,S,C,V,L","dry, bitter, poor aftertaste",2.00
...,...,...,...,...,...,...,...,...,...,...
1301,2764,Kah Kow - USA,U.S.A.,2022,Dominican Republic,"Tireo, medium roast, Chi Bui collab",72%,"4- B,S,C,L",cocoa with hint of melon,4.00
2504,2768,White Label aka Mutari,U.S.A.,2022,Colombia,"Chaparral, batch 12022",72%,"3- B,S,C","hint of caramel, alcohol, vegetal",3.50
2242,2768,Soma,Canada,2022,Uganda,"Semuliki Forest, Bundibugyo, b. 13416SEM220426",70%,"3- B,S,C","creamy,choco strawberry,vanilla",4.00
2502,2768,White Label aka Mutari,U.S.A.,2022,Jamaica,"Bachelor's Hall, BHJ72030521040321",72%,"3- B,S,C","smooth, toffee, nutty, cocoa",3.75
2503,2768,White Label aka Mutari,U.S.A.,2022,India,"Kerala, K172Testbatch1",72%,"3- B,S,C","creamy, balanced, cocoa, fruity",3.75

In [19]:
# sorting the values of the column 'eps' in descending manner
df.sort_values('REF' , ascending = False)

,REF,Company (Manufacturer),Company Location,Review Date,Country of Bean Origin,Specific Bean Origin or Bar Name,Cocoa Percent,Ingredients,Most Memorable Characteristics,Rating
2242,2768,Soma,Canada,2022,Uganda,"Semuliki Forest, Bundibugyo, b. 13416SEM220426",70%,"3- B,S,C","creamy,choco strawberry,vanilla",4.00
2502,2768,White Label aka Mutari,U.S.A.,2022,Jamaica,"Bachelor's Hall, BHJ72030521040321",72%,"3- B,S,C","smooth, toffee, nutty, cocoa",3.75
2503,2768,White Label aka Mutari,U.S.A.,2022,India,"Kerala, K172Testbatch1",72%,"3- B,S,C","creamy, balanced, cocoa, fruity",3.75
2504,2768,White Label aka Mutari,U.S.A.,2022,Colombia,"Chaparral, batch 12022",72%,"3- B,S,C","hint of caramel, alcohol, vegetal",3.50
1302,2764,Kah Kow - USA,U.S.A.,2022,Dominican Republic,Los Bejucos,72%,"4- B,S,C,L","honey, molasses, cream, woody",3.50
...,...,...,...,...,...,...,...,...,...,...
2084,15,Scharffen Berger,U.S.A.,2006,Blend,Bittersweet,70%,"5- B,S,C,V,L","cherry, mild bitter",3.50
2083,15,Scharffen Berger,U.S.A.,2006,Blend,Extra Dark,82%,"5- B,S,C,V,L","dry, bitter, poor aftertaste",2.00
1114,15,Guittard,U.S.A.,2006,Colombia,Chucuri,65%,"5- B,S,C,V,L","creamy, sweet, floral, vanilla",3.00
1716,15,Neuhaus (Callebaut),Belgium,2006,Blend,West Africa,73%,"5- B,S,C,V,L","non descript, poor aftertaste",2.00
1269,5,Jacque Torres,U.S.A.,2006,Ghana,Trinatario Treasure,71%,"5- B,S,C,V,L","gritty, unrefined, off notes",2.00

In [20]:
# sorting multiple columns in ascending and descending manner

# sorting the column 'REF' in ascending order and 'Rating' in descending order
df.sort_values(['REF', 'Rating'], ascending = [True, False])

,REF,Company (Manufacturer),Company Location,Review Date,Country of Bean Origin,Specific Bean Origin or Bar Name,Cocoa Percent,Ingredients,Most Memorable Characteristics,Rating
1269,5,Jacque Torres,U.S.A.,2006,Ghana,Trinatario Treasure,71%,"5- B,S,C,V,L","gritty, unrefined, off notes",2.00
2084,15,Scharffen Berger,U.S.A.,2006,Blend,Bittersweet,70%,"5- B,S,C,V,L","cherry, mild bitter",3.50
1114,15,Guittard,U.S.A.,2006,Colombia,Chucuri,65%,"5- B,S,C,V,L","creamy, sweet, floral, vanilla",3.00
1717,15,Neuhaus (Callebaut),Belgium,2006,Sao Tome,Sao Tome,75%,"5- B,S,C,V,L","grassy, earthy, burnt",2.75
1101,15,Green & Black's (ICAM),U.K.,2006,Blend,Dark,70%,"5- B,S,C,V,L","mildly rich, basic, roasty",2.50
...,...,...,...,...,...,...,...,...,...,...
1302,2764,Kah Kow - USA,U.S.A.,2022,Dominican Republic,Los Bejucos,72%,"4- B,S,C,L","honey, molasses, cream, woody",3.50
2242,2768,Soma,Canada,2022,Uganda,"Semuliki Forest, Bundibugyo, b. 13416SEM220426",70%,"3- B,S,C","creamy,choco strawberry,vanilla",4.00
2502,2768,White Label aka Mutari,U.S.A.,2022,Jamaica,"Bachelor's Hall, BHJ72030521040321",72%,"3- B,S,C","smooth, toffee, nutty, cocoa",3.75
2503,2768,White Label aka Mutari,U.S.A.,2022,India,"Kerala, K172Testbatch1",72%,"3- B,S,C","creamy, balanced, cocoa, fruity",3.75
2504,2768,White Label aka Mutari,U.S.A.,2022,Colombia,"Chaparral, batch 12022",72%,"3- B,S,C","hint of caramel, alcohol, vegetal",3.50

In [21]:
#3. Groupby() ---helps split data into separate groups

# the below code means want to analyze our data by different "REF" values. 
# the below code returns a DataFrameGroupBy object
df_groupby_REF = df.groupby('REF')
df_groupby_REF

In [22]:
# making use of aggregate functions to compute on grouped data
# applying the mean function on the grouped data
df_groupby_REF.mean()

      Review Date    Rating
REF
5          2006.0  2.000000
15         2006.0  2.625000
24         2006.0  3.111111
32         2006.0  3.166667
40         2006.0  2.500000
...           ...       ...
2752       2022.0  3.125000
2756       2022.0  3.187500
2760       2022.0  3.312500
2764       2022.0  3.750000
2768       2022.0  3.750000

[644 rows x 2 columns]

**Data Cleaning**

In [23]:
#1. isnull() ---checks for all the null values in your dataset.

# checking for null values
# it will return the dataset with the entries as True / False where True means that this cell has a null value 
# and False means that this cell does not has a null value. 
df.isnull()

,REF,Company (Manufacturer),Company Location,Review Date,Country of Bean Origin,Specific Bean Origin or Bar Name,Cocoa Percent,Ingredients,Most Memorable Characteristics,Rating
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
2583,False,False,False,False,False,False,False,False,False,False
2584,False,False,False,False,False,False,False,False,False,False
2585,False,False,False,False,False,False,False,False,False,False
2586,False,False,False,False,False,False,False,False,False,False
2587,False,False,False,False,False,False,False,False,False,False

In [24]:
# we can use the sum() function with isnull()
# it will return the sum of null values for each column
df.isnull().sum()

REF                                  0
Company (Manufacturer)               0
Company Location                     0
Review Date                          0
Country of Bean Origin               0
Specific Bean Origin or Bar Name     0
Cocoa Percent                        0
Ingredients                         87
Most Memorable Characteristics       0
Rating                               0
dtype: int64

In [25]:
#2. notnull() ---check for the non-null values in the dataset.
df.notnull()

,REF,Company (Manufacturer),Company Location,Review Date,Country of Bean Origin,Specific Bean Origin or Bar Name,Cocoa Percent,Ingredients,Most Memorable Characteristics,Rating
0,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...
2583,True,True,True,True,True,True,True,True,True,True
2584,True,True,True,True,True,True,True,True,True,True
2585,True,True,True,True,True,True,True,True,True,True
2586,True,True,True,True,True,True,True,True,True,True
2587,True,True,True,True,True,True,True,True,True,True

In [26]:
# using the sum() function
# it will return the sum of all the non null values for each column.
df.notnull().sum()

REF                                 2588
Company (Manufacturer)              2588
Company Location                    2588
Review Date                         2588
Country of Bean Origin              2588
Specific Bean Origin or Bar Name    2588
Cocoa Percent                       2588
Ingredients                         2501
Most Memorable Characteristics      2588
Rating                              2588
dtype: int64

In [27]:
#3. dropna() ---drops the rows/columns with missing entries
df.dropna()

,REF,Company (Manufacturer),Company Location,Review Date,Country of Bean Origin,Specific Bean Origin or Bar Name,Cocoa Percent,Ingredients,Most Memorable Characteristics,Rating
0,2454,5150,U.S.A.,2019,Tanzania,"Kokoa Kamili, batch 1",76%,"3- B,S,C","rich cocoa, fatty, bready",3.25
1,2454,5150,U.S.A.,2019,Madagascar,"Bejofo Estate, batch 1",76%,"3- B,S,C","cocoa, blackberry, full body",3.75
2,2458,5150,U.S.A.,2019,Dominican Republic,"Zorzal, batch 1",76%,"3- B,S,C","cocoa, vegetal, savory",3.50
3,2542,5150,U.S.A.,2021,Fiji,"Matasawalevu, batch 1",68%,"3- B,S,C","chewy, off, rubbery",3.00
4,2542,5150,U.S.A.,2021,India,"Anamalai, batch 1",68%,"3- B,S,C","milk brownie, macadamia,chewy",3.50
...,...,...,...,...,...,...,...,...,...,...
2583,1205,Zotter,Austria,2014,Blend,Raw,80%,"4- B,S*,C,Sa","waxy, cloying, vegetal",2.75
2584,1996,Zotter,Austria,2017,Colombia,"APROCAFA, Acandi",75%,"3- B,S,C","strong nutty, marshmallow",3.75
2585,2036,Zotter,Austria,2018,Blend,"Dry Aged, 30 yr Anniversary bar",75%,"3- B,S,C","fatty, earthy, cocoa",3.00
2586,2170,Zotter,Austria,2018,Congo,Mountains of the Moon,70%,"3- B,S,C","fatty, mild nuts, mild fruit",3.25
2587,2170,Zotter,Austria,2018,Belize,Maya Mtn,72%,"3- B,S,C","muted, roasty, accessible",3.50

In [28]:
# using the "axis" parameter
# "axis = 0" (default) means Row and "axis = 1" means Column
# dropping all the columns with missing entries
df.dropna(axis = 1)

,REF,Company (Manufacturer),Company Location,Review Date,Country of Bean Origin,Specific Bean Origin or Bar Name,Cocoa Percent,Most Memorable Characteristics,Rating
0,2454,5150,U.S.A.,2019,Tanzania,"Kokoa Kamili, batch 1",76%,"rich cocoa, fatty, bready",3.25
1,2454,5150,U.S.A.,2019,Madagascar,"Bejofo Estate, batch 1",76%,"cocoa, blackberry, full body",3.75
2,2458,5150,U.S.A.,2019,Dominican Republic,"Zorzal, batch 1",76%,"cocoa, vegetal, savory",3.50
3,2542,5150,U.S.A.,2021,Fiji,"Matasawalevu, batch 1",68%,"chewy, off, rubbery",3.00
4,2542,5150,U.S.A.,2021,India,"Anamalai, batch 1",68%,"milk brownie, macadamia,chewy",3.50
...,...,...,...,...,...,...,...,...,...
2583,1205,Zotter,Austria,2014,Blend,Raw,80%,"waxy, cloying, vegetal",2.75
2584,1996,Zotter,Austria,2017,Colombia,"APROCAFA, Acandi",75%,"strong nutty, marshmallow",3.75
2585,2036,Zotter,Austria,2018,Blend,"Dry Aged, 30 yr Anniversary bar",75%,"fatty, earthy, cocoa",3.00
2586,2170,Zotter,Austria,2018,Congo,Mountains of the Moon,70%,"fatty, mild nuts, mild fruit",3.25
2587,2170,Zotter,Austria,2018,Belize,Maya Mtn,72%,"muted, roasty, accessible",3.50

In [29]:
# using the "how" parameter
# how = "any" means dropping rows/columns having "ANY" missing entries.
# how = "all" means dropping rows/columns having "ALL" missing entries.
# dropping the columns having any missing values.
df.dropna(axis = 1, how = 'any')

,REF,Company (Manufacturer),Company Location,Review Date,Country of Bean Origin,Specific Bean Origin or Bar Name,Cocoa Percent,Most Memorable Characteristics,Rating
0,2454,5150,U.S.A.,2019,Tanzania,"Kokoa Kamili, batch 1",76%,"rich cocoa, fatty, bready",3.25
1,2454,5150,U.S.A.,2019,Madagascar,"Bejofo Estate, batch 1",76%,"cocoa, blackberry, full body",3.75
2,2458,5150,U.S.A.,2019,Dominican Republic,"Zorzal, batch 1",76%,"cocoa, vegetal, savory",3.50
3,2542,5150,U.S.A.,2021,Fiji,"Matasawalevu, batch 1",68%,"chewy, off, rubbery",3.00
4,2542,5150,U.S.A.,2021,India,"Anamalai, batch 1",68%,"milk brownie, macadamia,chewy",3.50
...,...,...,...,...,...,...,...,...,...
2583,1205,Zotter,Austria,2014,Blend,Raw,80%,"waxy, cloying, vegetal",2.75
2584,1996,Zotter,Austria,2017,Colombia,"APROCAFA, Acandi",75%,"strong nutty, marshmallow",3.75
2585,2036,Zotter,Austria,2018,Blend,"Dry Aged, 30 yr Anniversary bar",75%,"fatty, earthy, cocoa",3.00
2586,2170,Zotter,Austria,2018,Congo,Mountains of the Moon,70%,"fatty, mild nuts, mild fruit",3.25
2587,2170,Zotter,Austria,2018,Belize,Maya Mtn,72%,"muted, roasty, accessible",3.50

In [30]:
# using the "thresh" parameter
# it specifies how many non-null values a row or column must have so as to not be dropped
# keeping only the columns with at least 14000 non-null values
df.dropna(axis = 1, thresh = 14000)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[2588 rows x 0 columns]

In [31]:
# using the "subset" parameter
# it is used for defining in which columns to look for missing values 
# dropping all the rows where the "Ingredients" column is NaN
df.dropna(subset = ['Ingredients'])

,REF,Company (Manufacturer),Company Location,Review Date,Country of Bean Origin,Specific Bean Origin or Bar Name,Cocoa Percent,Ingredients,Most Memorable Characteristics,Rating
0,2454,5150,U.S.A.,2019,Tanzania,"Kokoa Kamili, batch 1",76%,"3- B,S,C","rich cocoa, fatty, bready",3.25
1,2454,5150,U.S.A.,2019,Madagascar,"Bejofo Estate, batch 1",76%,"3- B,S,C","cocoa, blackberry, full body",3.75
2,2458,5150,U.S.A.,2019,Dominican Republic,"Zorzal, batch 1",76%,"3- B,S,C","cocoa, vegetal, savory",3.50
3,2542,5150,U.S.A.,2021,Fiji,"Matasawalevu, batch 1",68%,"3- B,S,C","chewy, off, rubbery",3.00
4,2542,5150,U.S.A.,2021,India,"Anamalai, batch 1",68%,"3- B,S,C","milk brownie, macadamia,chewy",3.50
...,...,...,...,...,...,...,...,...,...,...
2583,1205,Zotter,Austria,2014,Blend,Raw,80%,"4- B,S*,C,Sa","waxy, cloying, vegetal",2.75
2584,1996,Zotter,Austria,2017,Colombia,"APROCAFA, Acandi",75%,"3- B,S,C","strong nutty, marshmallow",3.75
2585,2036,Zotter,Austria,2018,Blend,"Dry Aged, 30 yr Anniversary bar",75%,"3- B,S,C","fatty, earthy, cocoa",3.00
2586,2170,Zotter,Austria,2018,Congo,Mountains of the Moon,70%,"3- B,S,C","fatty, mild nuts, mild fruit",3.25
2587,2170,Zotter,Austria,2018,Belize,Maya Mtn,72%,"3- B,S,C","muted, roasty, accessible",3.50

**NOTE :** *The dropna() and fillna() commands returns a copy of your object rather than the actual object. To update your object , you need to specify the value of the inplace parameter as True.*

In [32]:
#3. fillna()

# filling the NaN values with some user specified value
df.fillna(value = "Not Specified")

,REF,Company (Manufacturer),Company Location,Review Date,Country of Bean Origin,Specific Bean Origin or Bar Name,Cocoa Percent,Ingredients,Most Memorable Characteristics,Rating
0,2454,5150,U.S.A.,2019,Tanzania,"Kokoa Kamili, batch 1",76%,"3- B,S,C","rich cocoa, fatty, bready",3.25
1,2454,5150,U.S.A.,2019,Madagascar,"Bejofo Estate, batch 1",76%,"3- B,S,C","cocoa, blackberry, full body",3.75
2,2458,5150,U.S.A.,2019,Dominican Republic,"Zorzal, batch 1",76%,"3- B,S,C","cocoa, vegetal, savory",3.50
3,2542,5150,U.S.A.,2021,Fiji,"Matasawalevu, batch 1",68%,"3- B,S,C","chewy, off, rubbery",3.00
4,2542,5150,U.S.A.,2021,India,"Anamalai, batch 1",68%,"3- B,S,C","milk brownie, macadamia,chewy",3.50
...,...,...,...,...,...,...,...,...,...,...
2583,1205,Zotter,Austria,2014,Blend,Raw,80%,"4- B,S*,C,Sa","waxy, cloying, vegetal",2.75
2584,1996,Zotter,Austria,2017,Colombia,"APROCAFA, Acandi",75%,"3- B,S,C","strong nutty, marshmallow",3.75
2585,2036,Zotter,Austria,2018,Blend,"Dry Aged, 30 yr Anniversary bar",75%,"3- B,S,C","fatty, earthy, cocoa",3.00
2586,2170,Zotter,Austria,2018,Congo,Mountains of the Moon,70%,"3- B,S,C","fatty, mild nuts, mild fruit",3.25
2587,2170,Zotter,Austria,2018,Belize,Maya Mtn,72%,"3- B,S,C","muted, roasty, accessible",3.50

In [33]:
# using the "inplace" parameter
# The 'inplace = True' argument means that the data frame has to make changes permanent.
# If you use 'inplace = False' (default), you basically get back a copy 
# This is before using 'inplace = True'
df.dropna().head(2)
df.isnull().sum()

REF                                  0
Company (Manufacturer)               0
Company Location                     0
Review Date                          0
Country of Bean Origin               0
Specific Bean Origin or Bar Name     0
Cocoa Percent                        0
Ingredients                         87
Most Memorable Characteristics       0
Rating                               0
dtype: int64

In [34]:
# after using 'inplace = True'
df.dropna(inplace = True)
df.isnull().sum()

REF                                 0
Company (Manufacturer)              0
Company Location                    0
Review Date                         0
Country of Bean Origin              0
Specific Bean Origin or Bar Name    0
Cocoa Percent                       0
Ingredients                         0
Most Memorable Characteristics      0
Rating                              0
dtype: int64

In [35]:
#4. rename() --- helps us in altering axes labels

df.rename(columns = {'Company (Manufacturer)' : 'Company'})

,REF,Company,Company Location,Review Date,Country of Bean Origin,Specific Bean Origin or Bar Name,Cocoa Percent,Ingredients,Most Memorable Characteristics,Rating
0,2454,5150,U.S.A.,2019,Tanzania,"Kokoa Kamili, batch 1",76%,"3- B,S,C","rich cocoa, fatty, bready",3.25
1,2454,5150,U.S.A.,2019,Madagascar,"Bejofo Estate, batch 1",76%,"3- B,S,C","cocoa, blackberry, full body",3.75
2,2458,5150,U.S.A.,2019,Dominican Republic,"Zorzal, batch 1",76%,"3- B,S,C","cocoa, vegetal, savory",3.50
3,2542,5150,U.S.A.,2021,Fiji,"Matasawalevu, batch 1",68%,"3- B,S,C","chewy, off, rubbery",3.00
4,2542,5150,U.S.A.,2021,India,"Anamalai, batch 1",68%,"3- B,S,C","milk brownie, macadamia,chewy",3.50
...,...,...,...,...,...,...,...,...,...,...
2583,1205,Zotter,Austria,2014,Blend,Raw,80%,"4- B,S*,C,Sa","waxy, cloying, vegetal",2.75
2584,1996,Zotter,Austria,2017,Colombia,"APROCAFA, Acandi",75%,"3- B,S,C","strong nutty, marshmallow",3.75
2585,2036,Zotter,Austria,2018,Blend,"Dry Aged, 30 yr Anniversary bar",75%,"3- B,S,C","fatty, earthy, cocoa",3.00
2586,2170,Zotter,Austria,2018,Congo,Mountains of the Moon,70%,"3- B,S,C","fatty, mild nuts, mild fruit",3.25
2587,2170,Zotter,Austria,2018,Belize,Maya Mtn,72%,"3- B,S,C","muted, roasty, accessible",3.50

In [36]:
#Creating Test Objects --- generate own test objects and run a range of commands to explore this library
pd.DataFrame({'A' : [1,2,3,4], 'B' : [5,6,7,8], 'C' : [9,10,11,12]})

   A  B   C
0  1  5   9
1  2  6  10
2  3  7  11
3  4  8  12

In [37]:
pd.Series({'a' : 1, 'b' : 2, 'c' : 3, 'd' : 4})

a    1
b    2
c    3
d    4
dtype: int64

In [38]:
#Statistics

#1. mean() & median()
df.mean()

<ipython-input-38-7f07a1433a40>:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

REF            1481.423431
Review Date    2014.660136
Rating            3.211815
dtype: float64

In [39]:
df.median()

<ipython-input-39-6d467abf240d>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median()

REF            1502.00
Review Date    2015.00
Rating            3.25
dtype: float64

In [40]:
#2. corr() ---returns the correlation between columns

# correlation can be defined as a relationship between variables.
# it lies between -1 and 1 (inclusive of both the values)
df.corr()

                  REF  Review Date    Rating
REF          1.000000     0.993202  0.088725
Review Date  0.993202     1.000000  0.090811
Rating       0.088725     0.090811  1.000000

In [41]:
#3. std() ---returns the standard deviation of all the columns
df.std()

<ipython-input-41-b526546b2e2d>:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.std()

REF            771.528406
Review Date      4.071615
Rating           0.427366
dtype: float64

In [42]:
#4. max() & min() ---returns the highest and lowest value in each columns
df.max()

REF                                                                     2768
Company (Manufacturer)                                twenty-four blackbirds
Company Location                                                       Wales
Review Date                                                             2022
Country of Bean Origin                                               Vietnam
Specific Bean Origin or Bar Name    the lost city, gracias a dias, batch 362
Cocoa Percent                                                            99%
Ingredients                                                   6-B,S,C,V,L,Sa
Most Memorable Characteristics                       yogurt, lemon, licorice
Rating                                                                   4.0
dtype: object

In [43]:
df.min()

REF                                                                     5
Company (Manufacturer)                                               5150
Company Location                                                Argentina
Review Date                                                          2006
Country of Bean Origin                                          Australia
Specific Bean Origin or Bar Name    2009 Hapa Nibby, Dominican Rep., Bali
Cocoa Percent                                                        100%
Ingredients                                                          1- B
Most Memorable Characteristics                        Easter candy, burnt
Rating                                                                1.0
dtype: object

In [44]:
#Combining Data Frames

#1. concat() ---combine data across rows or columns

df2 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                    index=[0, 1, 2, 3]
                   )

df2

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [45]:
df3 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                    index=[0, 1, 2, 3]
                   )

df3

    A   B   C   D
0  A4  B4  C4  D4
1  A5  B5  C5  D5
2  A6  B6  C6  D6
3  A7  B7  C7  D7

In [46]:
df4 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},
                    index=[8,9,10,11]
                   )

df4

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [47]:
pd.concat([df2,df3,df4]) #by default, concatenation happens row wise

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
0    A4   B4   C4   D4
1    A5   B5   C5   D5
2    A6   B6   C6   D6
3    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [48]:
# using the "axis" parameter 
pd.concat([df2,df3,df4], axis = 1)

      A    B    C    D    A    B    C    D    A    B    C    D
0    A0   B0   C0   D0   A4   B4   C4   D4  NaN  NaN  NaN  NaN
1    A1   B1   C1   D1   A5   B5   C5   D5  NaN  NaN  NaN  NaN
2    A2   B2   C2   D2   A6   B6   C6   D6  NaN  NaN  NaN  NaN
3    A3   B3   C3   D3   A7   B7   C7   D7  NaN  NaN  NaN  NaN
8   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A8   B8   C8   D8
9   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A9   B9   C9   D9
10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A10  B10  C10  D10
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A11  B11  C11  D11

In [49]:
############################################################## END ############################################################################